{% set ssh_key = vars.ssh_key | default(value="") -%}
[user]
  name = {{ vars.git_user_name }}
  email = {{ vars.git_user_email }}
{%- if ssh_key != "" %}
  signingkey = {{ ssh_key }}
{%- endif %}

[gpg]
  format = ssh

[gpg "ssh"]
  allowedSignersFile = ~/.config/git/allowed_signers

[commit]
  gpgsign = {% if ssh_key != "" %}true{% else %}false{% endif %}

[tag]
  gpgsign = {% if ssh_key != "" %}true{% else %}false{% endif %}
