Host github.com
  HostName github.com
  User git
{% if vars.onepassword_agent_sock != "" -%}
  IdentityAgent "{{ vars.onepassword_agent_sock }}"
{% endif -%}
  IdentitiesOnly no
  AddKeysToAgent yes
  IgnoreUnknown UseKeychain
  ServerAliveInterval 60
  ServerAliveCountMax 3

Host sigil
  HostName sigil
  User admin
{% if vars.onepassword_agent_sock != "" -%}
  IdentityAgent "{{ vars.onepassword_agent_sock }}"
{% endif -%}
  IdentitiesOnly no
  ForwardAgent yes

Host agent-vm
  HostName agent-vm
  User vmadmin
{%- if vars.onepassword_agent_sock != "" %}
  IdentityAgent "{{ vars.onepassword_agent_sock }}"
{%- endif %}
  IdentitiesOnly no
  ForwardAgent yes

{% if vars.ssh_auth_sock != "" -%}
Host *
  IdentityAgent "{{ vars.ssh_auth_sock }}"
  IgnoreUnknown UseKeychain
  AddKeysToAgent yes
  UseKeychain yes
  ServerAliveInterval 60
  ServerAliveCountMax 3
  HashKnownHosts yes
{% else -%}
Host *
  IgnoreUnknown UseKeychain
  AddKeysToAgent yes
  UseKeychain yes
  ServerAliveInterval 60
  ServerAliveCountMax 3
  HashKnownHosts yes
{% endif -%}
